body{
    background-color: #0F0F0F;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 25px;
}
img{
    max-width: 99vw;
    height: auto;
    display: block;
    margin: auto;
}
p{
    font-size: 14px;
}